SUPABASE_URL=https://yqkaiplfzoldqjgxvahl.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlxa2FpcGxmem9sZHFqZ3h2YWhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5NDE5MzksImV4cCI6MjA4NzUxNzkzOX0.uncAdiX-3L9IcYy0t8fQvN45v2aKHK-XeDPXNgBC6KY
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlxa2FpcGxmem9sZHFqZ3h2YWhsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTk0MTkzOSwiZXhwIjoyMDg3NTE3OTM5fQ.mzmnndpbgWaxczvmSfgwbnYIC2LO2FCM-ONIEXZ20Is

